
*{
    margin: 0;
    padding: 0;
}

.container{
    width: 80%;
    margin: 80px auto;
}

body{
    background-color: darkgoldenrod;
}

.container h1{
    padding: 60px 0;
    color: white;
    font-size: 40px;
    text-align: center;
}

.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.col{
    flex-basis: 50%;
    min-width: 250px;
}

.feature-img{
    width: 83%;
    margin: auto;
    position: relative;
    border-radius: 6px !important;
    -webkit-border-radius: 6px !important;
    -moz-border-radius: 6px !important;
    -ms-border-radius: 6px !important;
    -o-border-radius: 6px !important;
    overflow: hidden;
}

.small-img-row{
    display: flex;
    background:  rgb(255, 245, 221);
    margin: 20px 0;
    align-items: center;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    overflow: hidden;
    width: 85%;
}

.small-img{
    position: relative;

}


.small-img img{
    width: 150px;
    
}

.small-img-row p{
    margin-left: 20px;
    color: blue;
    line-height: 22px;
    font-weight: 15px;
    font-size: 15px;
}

.play-btn{
    width: 60px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    cursor: pointer;
}

.small-img .play-btn{
    width: 35px;
}

.video-player{
    width: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    cursor: pointer;
}

video:focus{
    outline: none !important;
}

.close-btn{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    cursor: pointer ;
}

